body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    margin: 0;
    background-color: rgb(221, 32, 32);
}

button {
    width: 15%;
    border-radius: 10px;
    margin: 10px;
}

#hero{
   display: flex;
   width: 100%;
   justify-content: center;
}

#header{
    flex-grow: 1;
    text-align: center;
}

#content {
    flex: 1 1 0; /*Allows grid to grow */
    max-width: 100%; /* Prevents Overflow */ 
    aspect-ratio: 1/1; /* height to be same as width */
    
}

#gridDiv {
    display: grid;
    box-sizing: border-box;
    /* grid-template-columns: repeat(16, 1fr [col-start]);
    grid-template-rows: repeat(16, 1fr [row-start]); */
    background-color: white;
    gap: 0 0;
}

.gridSquare {
    aspect-ratio: 1/1;
    background-color: white;
}

.etchColor {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    #header{
        font-size: 1.5rem;
    }
    button {
        font-size: 0.5rem;
    }
}
    